.image-container {
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-container img {
  transition: transform 0.4s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.05);
}

.heading-text {
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 3xl;
}

@media (max-width: 768px) {
  .heading-text {
    font-size: 0.7rem;
  }
}
.motion-text {
  font-style: italic;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .motion-text {
    font-size: 0.875rem;
    margin: 5%;
  }
}
.motion-text:hover {
  opacity: 1;
}
