/* Header.css */
.navbar {
  background-color: #010101; /* Dark background */
  box-shadow: 0 7px 10px rgba(56, 123, 224, 0.644);
  transition: background-color 0.3s;
  /* padding: 15px 0; */
  /* border-radius: 12px; Add border-radius for rounded corners */
}

.navbar:hover {
  background-color: #a9d24f; /* Slightly lighter on hover */
}

.header-brand {
  font-family: "Arial", sans-serif; /* Elegant font family */
  font-size: 2rem;
  color: #5ac2eb; /* Gold color */
  text-transform: uppercase;
  letter-spacing: 20px;
  transition: color 0.3s, transform 0.3s; /* Animation effects */
}

.header-brand:hover {
  color: #bab15d; /* Change color on hover */
  transform: scale(2.05); /* Slight zoom effect */
}

.custom-btn {
  width: 120px; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  border-radius: 8px; /* Add border-radius to the button for rounded corners */
}
