.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 33, 36);
  background: linear-gradient(90deg, rgba(0, 33, 36, 1) 0%, rgba(102, 45, 140, 1) 41%, rgba(237, 30, 121, 1) 99%);
  position: relative;
}

.typing-container {
  height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%; 
  border-radius: 20px;
  z-index: 1;
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.register-form a {
  color: #333 !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #b87333;
  color: white;
}

.register-form input:focus {
  border: 1px solid #b87333 !important;
  color: #b87333;
}

.register-form button:hover {
  background-color: black;
  color: white;
}

.linkreg {
  font-size: large;
}

@media (max-width: 768px) {
  .register-form {
    width: 90%; 
    margin: 0 auto;
    padding: 15px;
  }
  
  .register-form h2 {
    font-size: 24px; 
    margin: 10px 0;
  }

  .linkreg {
    font-size: medium;
  }

  .typing-container {
    height: 0px;
    width: 90%;

    .h2{
      font-size: x-small;
    }
  }
}
